.app-navbar {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 16px;
    box-shadow: 0px 0px 1px 1px #bbb;

    ::ng-deep .navbar-heading{
        font-size: 22px;
    }

    ::ng-deep >* {
        margin: 0;
    }

    ::ng-deep .navbar-spacer {
        flex: 1 1 auto;
    }
}