.app-paper {
    width: calc(100% - 32px);
    padding: 16px;
    background: #fff;
    box-shadow: 0 0 1px 1px #e9e9e9;


    ::ng-deep>* {
        padding: 10px;
    }

    ::ng-deep [paper-heading] {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #bbb;

        .paper-spacer {
            flex: 1 1 auto;
        }
    }
}