.flex-line{
    .form-control{
        width: fit-content;
    }
    >*+*{
        margin-left: 5px;
    }
}
.modal-footer{
    display: flex;
    justify-content: center;
    app-button+app-button{
        margin-left: 5px;
    }
}