<div class="modal-header">
  <span class="modal-title pull-left"> Change account number </span>
</div>
<div class="modal-body">
  <p> Please select your debit account number: </p>
  <div class="flex-line">
    <select class="form-control" disabled [value]="getAccCurrency()">
      <option> USD </option>
      <option> HKD </option>
      <option> TWD </option>
      <option> JPY </option>
    </select>
    <select class="form-control" [(ngModel)]="newClient.current_acc">
      <option *ngFor="let account of newClient.available_acc" [value]="account.acc"> {{account.acc}} </option>
    </select>
    <span> Account balance 199,999,999 </span>
  </div>
</div>
<div class="modal-footer">
  <app-button type="filled" background="#e1e1e1" color="#333" (click)="bsModalRef.hide()"> Cancel </app-button>
  <app-button type="filled" background="#309952" (click)="changeAcc()"> Determine </app-button>
</div>