.app-container {
    width: 100%;
    height: 100vh;
    background: #f3f3f3;
    overflow-y: auto;

    .container-content-box {
        width: 100%;

        ::ng-deep [container-content] {
            width: 80%;
            max-width: 1500px;
            margin: auto;
            [heading] {
                margin: 2em 0;
            }
        }

        @media only screen and (max-width: 600px) {
            ::ng-deep [container-content] {
                width: 90%;
            }
        }
    }
}

.container-fixed-header {
    overflow: hidden;
    .container-content-box {
        height: calc(100vh - 60px);
        overflow-y: auto;
    }
}