<div class="app-container" [ngClass]="(fixHeader)?'container-fixed-header':''">
  <ng-content select="app-navbar"></ng-content>
  <div class="container-content-box">
    <ng-content select="[container-content]"></ng-content>
  </div>
</div>