#flex-container{
    display: flex;
    >.flex-box{
        flex: 1;
        .flex-line{
            justify-content: space-between;
            span {
                color: #888;
                font-size: 13px;
            }
            .content-title{
                color: #333;
                font-size: 14px;
            }
            .content-em{
                color: #659fcd;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
    .flex-box+.flex-box{
        margin-left: 20px;
    }
}
#home-btn{
    margin: 2em auto;
}
@media only screen and (max-width: 600px){
    #flex-container{
        display: block;
        .flex-box+.flex-box{
            margin-left: unset;
        }
    }
}