<app-container [fixHeader]="true">
  <app-navbar>
    <span class="navbar-heading">國泰世華銀行 ｜ 智能投資</span>
    <span class="navbar-spacer"></span>
    <app-button color="#f9f9f9" type="transparent">
      <fa-icon [icon]="faUser"></fa-icon>
      <fa-icon [icon]="faCaretDown"></fa-icon>
    </app-button>
    <app-button color="#f9f9f9" type="transparent">
      <fa-icon [icon]="faGlobeAsia"></fa-icon>
      <fa-icon [icon]="faCaretDown"></fa-icon>
    </app-button>
  </app-navbar>
  <div container-content>
    <h1 heading> My Retirement </h1>
    <app-paper *ngIf="client">
      <div paper-heading>
        <h3> Manage </h3>
        <span class="paper-spacer"></span>
        <app-button type="outline" color="#555"> Enquire history </app-button>
      </div>
      <div id="flex-container">
        <div class="flex-box">
          <div class="flex-line">
            <div>
              <span class="content-title"> Creation date: </span>
              <span class="content-em"> {{client.created|date:'yyyy-MM-dd'}} </span>
            </div>
          </div>
          <div class="flex-line">
            <div>
              <span class="content-title"> Account number: </span>
              <span class="content-em"> {{client.current_acc}} </span>
            </div>
            <app-button type="icon" color="#659fcd" (click)="openAccountModal()">
              <fa-icon [icon]="faPencilAlt"></fa-icon>
            </app-button>
          </div>
          <div class="flex-line">
            <div>
              <span class="content-title"> Charge date: </span>
              <span class="content-em"> {{client.charge_date}} </span>
              <span> (Next payment date: 2018-11-01) </span>
            </div>
            <app-button type="icon" color="#659fcd">
              <fa-icon [icon]="faPencilAlt"></fa-icon>
            </app-button>
          </div>
          <div class="flex-line">
            <div>
              <span class="content-title"> Status: </span>
              <span class="content-em"> {{client.status}} </span>
            </div>
            <app-button type="outline" color="#555"> Suspension of investment </app-button>
          </div>
        </div>
        <div class="flex-box">
          <div class="flex-line">
            <div>
              <span class="content-title"> Investment amount: </span>
              <span> TWD </span>
              <span class="content-em"> {{client.investment_amt | currency :'':'':'1.0'}} </span>
              <span> (per month) </span>
            </div>
            <app-button type="outline" color="#555"> Adjust amount </app-button>
          </div>
          <div class="flex-line">
            <div>
              <span class="content-title"> Accumlated investment amount: </span>
              <span> TWD </span>
              <span class="content-em"> {{client.accumlated_amt | currency :'':'':'1.0'}} </span>
            </div>
          </div>
          <div class="flex-line">
            <div>
              <span class="content-title"> Current market value: </span>
              <span> TWD </span>
              <span class="content-em"> {{client.current_market_value | currency :'':'':'1.0'}} </span>
            </div>
            <app-button type="outline" color="#555"> Redemption </app-button>
          </div>
        </div>
      </div>
    </app-paper>
    <app-button id="home-btn" type="filled" background="#309952"> Back To Home </app-button>
  </div>
</app-container>