<button class="app-button" [ngClass]="buttonClass()"
  [ngStyle]="{color: color, background: (type==='transparent')?'transparent':background, borderColor: (type==='outline')?color:'unset'}">
  <ng-content></ng-content>
</button>