.app-button {
    display: flex;
    font-size: inherit;
    color: #333;
    padding: 8px 16px;
    border: 0;
    cursor: pointer;
    outline: 0;
    margin: inherit;
    text-align: inherit;
    ::ng-deep >*+*{
        margin-left: 5px;
    }
}

.button-transparent {
    background: transparent;
}

.button-outline {
    border: 1px;
    border: 1px solid;
}

.button-icon {
    border-radius: 50%;
}

.button-transparent:hover,
.button-outline:hover,
.button-icon:hover {
    background: rgba(0, 0, 0, 0.08) !important;
}

.button-transparent:active,
.button-outline:active,
.button-icon:active {
    background: rgba(0, 0, 0, 0.15) !important;
}

.button-filled:hover {
    opacity: 0.95;
}

.button-filled:active {
    opacity: 0.9;
}