@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.flex-line{
    display: flex;
    align-items: center;
    padding: 10px 0;
}